* {
    box-sizing: border-box;
}

code {
    font-size: 16px;
}

.section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}

.header {
    margin-top: 6rem;
    text-align: center;
}